

@model clari.Models.GuestResponse;

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css" />
        <title>Thanks</title>
    </head>
    <body>
        <div class="text-center p-2">
        <h1>Thank you for your response, @Model.Name!</h1>
        <p>We have recorded your RSVP as follows:</p>
        @if (Model.WillAttend == true)
        {
            @:We are delighted that you are attending, drinks already in fridge
        }
        else
        {
            @:We are sorry to hear that you cannot attend.
        }
        <p>Click for all responses: <a asp-action="ListReponses">View all responses</a></p>
        </div>
    </body>
</html>